            .mainDiv {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            
            .divAdd {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: rgb(174, 213, 255);
                width: 1270px;
                height: 1000px;
                background-image: url(https://platformsafrica.com/wp-content/uploads/2021/05/landing-plane-GettyImages-sb10062851ai-001-xlarge.jpg);
            }
            
            .divAviokompanija1 {
                margin: 80px;
            }
            
            .divAvion {
                margin: 80px;
            }
            
            .divDestinacija {
                margin: 80px;
            }
            
            .divDisplay {
                display: flex;
                flex-direction: row;
                flex-shrink: 1;
                /* background-image: url(https://media.istockphoto.com/vectors/airline-routes-with-planes-on-white-vector-id538992590?b=1&k=20&m=538992590&s=612x612&w=0&h=5G8Sn9kkU1YeFcS76Oqpv2pKcVO-wb0Nkn55881TW_4=);
            */
            }
            
            .podaciOLetovimaOdredjenogAviona {
                border-color: rgb(0, 0, 0);
                /* opacity: 0.9;*/
                border-style: solid;
                margin: 6px;
                border-bottom: solid;
                border-radius: 8px;
                border-width: 1px;
                background-color: transparent;
            }
            
            .divAvio {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                /*  background-color: greenyellow;*/
                background-image: url(https://media.istockphoto.com/vectors/airline-routes-with-planes-on-white-vector-id538992590?b=1&k=20&m=538992590&s=612x612&w=0&h=5G8Sn9kkU1YeFcS76Oqpv2pKcVO-wb0Nkn55881TW_4=);
                width: 100%;
            }
            
            .divAviokompanija {
                display: flex;
                flex-direction: column;
                background-color: rgb(161, 200, 230);
                border-style: solid;
                border-color: rgb(161, 200, 230);
                width: 80%;
                background-image: url(https://media.istockphoto.com/vectors/airline-routes-with-planes-on-white-vector-id538992590?b=1&k=20&m=538992590&s=612x612&w=0&h=5G8Sn9kkU1YeFcS76Oqpv2pKcVO-wb0Nkn55881TW_4=);
            }
            
            .divDisplayTermina {
                display: flex;
                flex-direction: column;
                margin: 10px;
                background-color: rgb(136, 169, 232);
            }
            
            .divLet {
                display: flex;
                flex-direction: column;
                min-width: 100px;
                min-height: 950px;
            }
            
            .divUnosPodataka {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                width: 15%;
                margin: 5px;
            }
            
            .divPrikazAvionaZaRezervisanje {
                border-radius: 8px;
                background-color: hsl(199, 100%, 96%);
                border-color: rgb(0, 0, 0);
                margin: 10px;
                border-style: solid;
                border-width: 1px;
            }
            
            .divPrikazAviona {
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                background-color: hsl(199, 100%, 96%);
                width: 200px;
                border-color: rgb(0, 0, 0);
                margin: 10px;
                border-style: solid;
                border-width: 1px;
            }
            
            .labNaziv {
                display: block;
                font-weight: bold;
                font-size: 20px;
                background-color: rgb(136, 169, 232);
                ;
            }
            
            .labDestinacija {
                margin-top: 1px;
            }
            
            .lablokacija {
                display: block;
                font-size: 20px;
            }
            
            .lokacija {
                margin-bottom: 0px;
            }
            
            @media only screen and (max-width: 900px) {
                .divAdd {
                    flex-direction: row;
                }
            }
            
            .dodajAvion {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .dodajAvion:hover {
                background-color: lightblue
            }
            
            .dodajAvion:active {
                background-color: lightblue;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .dugmeUcitajAvione {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .dugmeUcitajAvione:hover {
                background-color: lightblue
            }
            
            .dugmeUcitajAvione:active {
                background-color: lightblue;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .dugmeUcitajAvione {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .dugmeUcitajAvione:hover {
                background-color: lightblue
            }
            
            .dugmeUcitajAvione:active {
                background-color: lightblue;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .DodavanjeAviokompanije {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .dolazni {
                background-color: rgb(255, 235, 81);
            }
            
            .odlazni {
                background-color: lightblue;
            }
            
            .DodavanjeAviokompanije:hover {
                background-color: lightblue
            }
            
            .DodavanjeAviokompanije:active {
                background-color: lightblue;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .DodavanjeDestinacija {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .DodavanjeDestinacija:hover {
                background-color: lightblue
            }
            
            .DodavanjeDestinacija:active {
                background-color: silver;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .dodajterminletazaavion {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .dodajterminletazaavion:hover {
                background-color: lightblue
            }
            
            .dodajterminletazaavion:active {
                background-color: silver;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .dugmeObrisi {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                border-radius: 8px;
            }
            
            .dugmeObrisi:hover {
                background-color: rgb(113, 188, 213)
            }
            
            .dugmeObrisi:active {
                background-color: silver;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            
            .SaveUpdateEdit {
                background-color: rgb(150, 150, 150);
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
            }
            
            .SaveUpdateEdit:hover {
                background-color: rgb(113, 188, 213)
            }
            
            .SaveUpdateEdit:active {
                background-color: silver;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }